@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --background: #f2f2f2;
  --primary: #000000;
  --secondary: #9c9c9c;
}

html.dark {
  --background: #1e342e;
  --primary: #e5f0cc;
  --secondary: #af8b6c;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: 'DM Mono', monospace;
}

.transition-all {
  transition: all 0.4s ease-in-out;
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sidebar-transition {
  transition: all 1s ease;
}

@media (max-width: 768px) {
  aside {
    width: 100% !important;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (pointer: coarse) {
  html {
    overscroll-behavior-x: none;
  }
  
  body {
    -webkit-overflow-scrolling: touch;
  }
}